:root {
  --bs-border-radius-sm: 0.06rem;
  --bs-border-radius: 0.1rem;
  --bs-border-radius-lg: 0.25rem;
  --bs-border-radius-xl: 0.45rem;
  --bs-border-radius-xxl: 0.6rem;
  --bs-border-color: #a7b7bb;
}
