- content_for(:container_class) { 'container border p-0 my-3' }
- content_for(:container_style) { 'max-width: 50em; xborder-left: 1px solid grey' }
- content_for(:padding_top_class) { 'pt-0' }

= render template: 'pg_engine/base/index'
