.pg--notifications-bell--tooltip {
  position: relative;
  background-color: #99570b;
  padding: 4px;
  z-index: 10;
  border-radius: 2px;
}
.pg--notifications-bell--tooltip::after {
  content: '';
  color: white;
  display: block;
  position: absolute;
  right: -9px;
  top: 3px;
  border-color: transparent;
  border-left-color: #99570b;
  border-style: solid;
  border-top-width: 0.7rem;
  border-bottom-width: 0.7rem;
  border-left-width: 0.7rem;
  z-index: -1;
}

#notifications {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: $primary;
  padding: 1.5em 5px;
}

#notifications-inner {
  width: 100%;
  max-width: 40em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.notification {
  border: 1px solid #0003;
  border-radius: 2px;
  position: relative;
  padding: 0.3em 2.5em;
  padding-right: 0.5em;
  xpadding-left: 2.5em;
  display: flex;
  align-items: stretch;
  background-color: white;

  figcaption {
    display: none;
  }
}
.notification:not(.unseen) {
  xcolor: #646464;
}
.notification.unseen {
  background-color: rgb(230, 225, 251);
}
.notification.unseen::before {
  content: '';
  padding: 5px;
  left: 1em;
  vertical-align: middle;
  position: absolute;
  background-color: #079510;
  border-radius: 50%;
}
.notifications-unseen-mark {
  border: 1px solid #ffffff9d;
  //background-color: #ea3d2b !important;
  background-color: #079510;
}
.notification--time {
  font-size: 0.8em;
  min-width: 6em;
}
